body {
    background-color: #1E1E1E;
}

.buttongg {
    display: inline-block;
    width: 33%;
    text-decoration: none;
}

.buttongg button {
    width: 100%;
    height: 3rem;
    background: none;
    border: white solid 1px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttongg button:hover {
    background: linear-gradient(217deg, #DC3C2A, rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.buttongg img {
    height: 2rem;
}