* {
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #1E1E1E;
}

/* ********** H1 ********** */

.profilh1 {
    color: white;
    font-size: 25px;
}

/* ********** H2 ********** */

.profilh2 {
    color: white;
    font-size: 20px;
}

/* ********** H3 ********** */

.profilh3 {
    color: white;
    font-size: 15px;
}

/* ********** P ********** */

.profilp {
    color: white;
    font-size: 18px;
}