* {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* *::-webkit-scrollbar{
    display: none;
} */

/* page index */

/* header index */

header {
    background-color: rgba(224, 43, 26, 1);
    height: 114px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barnav1 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-end;

}

.pnav {
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 10%;
}

.barnav2 {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.anav {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
.barnav3 {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.anav2 {
    margin-bottom: 2%;
}




/*main index */

main {
    background-color: rgba(30, 30, 30, 1);
}

.h1ind {
    padding-top: 2%;
    margin-left: 3%;
    padding-bottom: 2%;
}

.carimg1 {
    width: 288px;
    height: 185px;
}

.conind1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carind1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(89, 89, 89, 1);
}

.pcarind1 {
    margin: 2%;
}

.butind1 {
    background-color: rgba(224, 43, 26, 1);
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 25px;
    margin: 2%;
}

.indsli {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 2%;
    margin-right: 2%;
    gap: 20px;
}

.carsli {
    background-color:  rgba(89, 89, 89, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 300px;

}

.carsli2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.butsli {
    background-color: rgba(224, 43, 26, 1);
    border: none;
    border-radius: 10px;
    padding: 2%;
}

.imgsli {
    width: 200px;
    height: 200px;
}

.indsli2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 2%;
    margin-right: 2%;
    gap: 20px;
}

.divh1ind2 {
    padding-bottom: 2%;
}

/* footer index */



.h2foot {
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(224, 43, 26, 1);
}

footer {
    background-color: black;
    width: 100%;
    height: 350px;
}

.footer0 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between

}

.foot1 {
    width: 19%;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.foot11 {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.iconf {
    width: 20px;
    height: 20px;
}

.foot2 {
    width: 40%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot21 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foot211 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid;
    border-radius: 10px;
    border-color: white;
    padding: 2%;
    width: 30%;
    margin: 2%;
}

.pfoot1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.foot23 {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.ial {
    padding: 2%;
}

.foot3 {
    width: 19%;
    margin-right: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;

}

.foot31 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.afr {
    margin: 4%;
}


.foot4 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5%;
}

/* page panier */

.pantit1{
    font-size: 24px;
    padding: 2%;
}

.conpan {
    width: 100%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
}

.imgcar1 {
    width: 300px;
    height: 280px;
}

.imgcar {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 2%;
}

.pandes {
    width: 40%;
    height: 280px;
    font-size: 20px;
    margin-left: 1%;
}

.pandes0 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2%;
}

.pandes1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pandesico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
}

.pantot {
    background-color: rgba(89, 89, 89, 0.23);
    ;
    width: 470px;
    height: 445px;
    font-size: 20px;
    margin-left: 2%;
}

.pantp {
    padding: 2%;
    margin-bottom: 5%;
}

.pantot1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.pantot2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
    margin-bottom: 4%;
}

.pantot3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 8%;
}

.pantot4 {
    display: flex;
    justify-content: center;
}

.panbut {
    background-color:  rgba(224, 43, 26, 1);
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 40px;
}

/* PAGE PANIER VIDE */

.vpcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 20px;
}

.vpimg {
    width: 370px;
    height: 300px;
}

.vpbut {
    width: 200px;
    height: 44px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 21px;
}

.pvp {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* page categorie */

.catflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 2%;
}

.imgcat {
    width: 300px;
    height: 250px;
}

.catcar {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.catcar2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.butcar {
    background-color:  rgba(224, 43, 26, 1);
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 40px;
}