* {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgba(224, 43, 26, 1);
    height: 114px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barnav1 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-end;

}

.pnav {
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 10%;
}

.barnav2 {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.anav {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
.barnav3 {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.anav2 {
    margin-bottom: 2%;
}